# general
*~
*.log
tmp
dump
_temp

# Eclipse
.settings
.cache
.project
.classpath
.scala_dependencies
bin

# idea
.idea
.idea_modules

# SBT
dist
project/boot
project/target
project/plugins/target
target
.target

# Play
logs
target/

RUNNING_PID

.vagrant
